/* reset declaration */
*{
    box-sizing: border-box;
    margin: 0;
}
.header{

    /* border: 1px solid red; */
    margin: 20px;
    background-color: tomato;
    width: 20%;
    /* height: 100%; */ 
    overflow: hidden;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.header h1 {
    background-color: yellow;
    width: 150px;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
}
.header p{
    margin-bottom: 20px;
}
.header a{
    background-color: green;
    /* width: 100px;
    height: 100px; no support*/ 
    /* margin-left: 30px; */
    /* margin-bottom: 30px; no support */ 
    padding: 10px;
}
.nav{
    border: 1px solid blue;
    margin-bottom: 20px;
    padding: 20px;
}

.main{
    border: 4px solid green;
    height: 400px;   
    margin-top: 20px; 
    padding-left: 20px;
    margin-top: 20px;
    overflow: auto;
}
.solid{
    border: 10px solid tomato;
    height: 30px;
}
.dotted{
    border: 10px dotted teal;
    height: 30px;
}
.dashed{
    border: 10px dashed crimson;
    height: 30px;
}
.double{
    border: 10px groove seagreen;
    height: 30px;
}
.groove{
    border: 10px groove purple;
}
.ridge{
    border: 10px ridge gray;
    height: 30px;
}
.inset{
    border: 10px inset dodgerblue;
    height: 30px;
}
.outset{
    border: 10px outset goldenrod;
}
.border-radius{
    border: 10px solid black ;
    border-radius: 200px ;   
    height: 150px;
    width: 150px;
}
.footer{
    border: 4px solid red;
    height: 400px;
}
.box1{
    border: 1px solid blue;
    height: 100px;
    width: 100px;
    padding-left: 20px;
    padding-top: 20px;
    margin: 10px auto;
    border-top: none;
    border-bottom: 6px double green;
}
.box2{
    border: 1px solid black;
    height: 100px;
    width: 100px;
    margin: 20px auto 0 auto;
    text-align: center;
    padding-top:10px ;
    border-left: none;
    border-right: 8px groove gold;
}